@use "mixins" as m;

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.header {
    @include m.background-image;

    .navbar {
        display:flex;
        flex-direction:column;
        justify-content:end;
        align-items:center;
        height: 17vh;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.727);

        ul {

        margin-bottom:5px;
        
    

    li {
        list-style:none;
        padding: 1px;
        font-size:25px;
        color:white;
    }
    

}
    


    }
}